<table>
	<tr>
		<th>No.</th>
		<th>Name</th>
		<th>Address</th>
	</tr>
<% @listings.each do |x| %>
	<tr>
		<td> <%= x.id=%> </td>
		<td> <%= link_to x.name, listing_path(x.id) %> </td>
		<td> <%= x.address=%> </td>
	</tr>
<% end %>

</table>

<%= paginate @listings %>
<%= page_entries_info @listings%>

<%= link_to "Home", home_index_path%>
