<%= form_for [current_user, @listing, @reservation] do |form| %>

	<div>
	  <%= form.label :start_date %>
		<%= form.date_field :start_date, selected: Date.today, min: 5.days.ago, max: 1.year.from_now %>
<!-- 	  <%#= form.date_select :start_date, selected: Date.today, min: 1.days.ago, max: 1.year.from_now %> -->
	</div>
	
	<div>
	  <%= form.label :end_date %>
	  <%= form.date_field :end_date%>
	</div>
	

	<div class="submit-field">
	  <%= form.submit %>
	</div>
<% end %>