<h1>New Reservation for <%= @listing.name%> </h1>
<h2>Welcome <%= current_user.name%></h2>

<%= render partial: '/reservations/form'%>

<% if @errors %>
<p><%= @reservation.errors.messages %></p>
<!-- <%# debugger %> -->
<% end %>

<div><%= link_to "Home", home_index_path%></div>
